#файлы с расширением .db
*.db
#файлы с расширением .log
*.log
#директории с названием target в корне
target/
#директории с названием target во всем репозитории (удалить строку, если нужно только игнорирование в корне)
**/target
#директории с названием bin в корне
bin/
#директории с названием bin во всем репозитории (удалить строку, если нужно только игнорирование в корне)
**/bin

